footer {
    background-color: var(--neutral-color-low-pure);
}

footer h2 {
    color: var(--neutral-color-low-medium);
    font-family: var(--font-family-highlight);
    font-weight: var(--font-weight-regular);
    font-size: 1.25rem;
}

footer .about__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-bottom: 24px;
}

footer .about__header img {
    height: 6px;
    width: 12px;
    display: none;
}

footer a {
    color: var(--neutral-color-high-pure);
    font-family: var(--font-family-base);
    font-weight: var(--font-weight-regular);
    font-size: 1rem;
    text-decoration: none;
}

footer a:hover {
    color: var(--neutral-color-high-dark);
}

footer .content {
    display: flex;
    max-width: 1440px;
    margin: auto;
    gap: 104px;
    padding: 72px 112px 85px 112px;
}

footer nav {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

footer .talktous a:nth-child(1) {
    color: var(--neutral-color-low-light);
    max-width: 200px;
}

footer .talktous a:nth-child(2) {
    max-width: 200px;
}

footer .talktous a:nth-child(3) {
    color: var(--neutral-color-low-light);
    margin-right: 30px;
}

footer .talktous a:nth-child(1):hover {
    color: var(--neutral-color-low-medium);
}

footer .talktous a:nth-child(3):hover {
    color: var(--neutral-color-low-medium);
}

footer .download {
    display: flex;
    flex-direction: column;
}

footer .download img {
    height: 50px;
    width: 150px;
    margin-bottom: 16px;
}

footer .download-mobile {
    display: none;
}

footer .copyright__content {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--neutral-color-low-medium);
    max-width: 1216px;
    margin: auto;
}

footer .copyright .social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

footer .copyright p {
    color: var(--neutral-color-low-light);
    font-family: var(--font-family-base);
    font-weight: var(--font-weight-regular);
    font-size: 1rem;
    text-align: center;
    padding: 24px;
}

@media screen and (max-width: 1000px) {
    footer .about,
    .services,
    .talktous {
        position: relative;
        max-width: 200px;
        margin: auto;
    }

    footer nav {
        position: absolute;
        background-color: var(--neutral-color-low-dark);
        padding: 15px;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        left: 50%;
        transform: translateX(-50%) rotateX(-90deg);
        transform-origin: top center;
        min-width: 200px;
        z-index: 2;
    }

    footer .content {
        display: flex;
        justify-content: center;
        max-width: 1440px;
        margin: auto;
        gap: 80px;
        padding: 72px 80px 85px 50px;
    }

    footer .about__header {
        cursor: pointer;
        margin-bottom: 10px;
        z-index: 1;
    }

    footer .about__header img {
        display: block;
    }

    footer .talktous a:nth-child(3) {
        margin-right: 0;
    }

    footer .download {
        display: none;
    }

    footer .footer-logo {
        display: none;
    }

    footer .copyright__content {
        border-bottom: none;
        justify-content: center;
        padding-bottom: 50px;
    }

    footer .download-mobile {
        display: flex;
        gap: 16px;
        justify-content: center;
        border-bottom: 1px solid var(--neutral-color-low-medium);
        padding-bottom: 56px;
    }
}

@media screen and (max-width: 750px) {
    footer .content {
        flex-direction: column;
    }
}

@media screen and (max-width: 400px) {
    footer .download-mobile {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
