.handmade {
    background-color: var(--neutral-color-low-pure);
    max-width: 1440px;
    margin: auto;
    padding-bottom: 400px;
}

.handmade__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
}

.handmade__title {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.handmade__title h2 {
    color: var(--neutral-color-high-pure);
    font-family: var(--font-family-highlight);
    font-weight: var(--font-weight-medium);
    font-size: 3rem;
    font-style: italic;
}

.handmade__title h3 {
    color: var(--neutral-color-high-dark);
    font-family: var(--font-family-base);
    font-weight: var(--font-weight-regular);
    font-size: 2rem;
}

.handmade__btns {
    display: flex;
    gap: 16px;
}

.handmade__btns .btns__item {
    cursor: pointer;
}

.handmade__content {
    display: flex;
    align-items: center;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 150px 112px 0 112px;
}

.handmade__content .handmade__card {
    width: 384px;
    height: 212px;
    min-height: 212px;
    min-width: 384px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0d0c0e;
    border-radius: 8px;
    padding-right: 85px;
    margin: 16px 16px 40px 16px;
}

.handmade__content::-webkit-scrollbar {
    width: 0px;
}

.handmade__content .handmade__card:hover {
    background-color: var(--neutral-color-low-dark);
}

.handmade__content .handmade__card__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.handmade__content .handmade__card__content h3 {
    color: var(--neutral-color-low-medium);
    font: var(--font-family-base);
    font-weight: var(--font-weight-regular);
    font-size: 0.875rem;
    margin: 10px;
}

.handmade__content .handmade__card__content h2 {
    color: var(--neutral-color-high-pure);
    font: var(--font-family-highlight);
    font-weight: var(--font-weight-regular);
    font-size: 2rem;
    margin-bottom: 24px;
}

.handmade__content .handmade__card__content span {
    color: var(--neutral-color-high-light);
    font: var(--font-family-highlight);
    font-weight: var(--font-weight-regular);
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.handmade__content .handmade__card__content a {
    color: var(--neutral-color-high-pure);
    font: var(--font-family-highlight);
    font-weight: var(--font-weight-regular);
    font-size: 1rem;
    text-decoration: none;
    padding: 8px 16px;
    background-color: var(--brand-color-primary-pure);
    border: 2px solid #0d0c0e;
    width: fit-content;
    height: fit-content;
    border-radius: 8px;
}

.handmade__content .handmade__card:hover a {
    border: 2px solid var(--neutral-color-low-dark);
}

.handmade__content .handmade__card__content a:hover {
    border: 2px solid var(--brand-color-primary-pure);
}

@media screen and (max-width: 1000px) {
    .handmade .handmade__btns {
        display: none;
    }

    .handmade__header {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .handmade__title h2 {
        text-align: center;
    }
    .handmade__title h3 {
        text-align: center;
    }
}

@media screen and (max-width: 800px) {
    .handmade__title h2 {
        font-size: 2rem;
    }

    .handmade__title h3 {
        font-size: 1.25rem;
    }
}

@media screen and (max-width: 550px) {
    .handmade__title h2 {
        font-size: 1.5rem;
    }

    .handmade__title h3 {
        font-size: 1rem;
    }
}

@media screen and (max-width: 350px) {
    .handmade__title h2 {
        font-size: 1.25rem;
    }

    .handmade__title h3 {
        font-size: 0.75rem;
    }
}
