header {
    background-color: var(--brand-color-primary-pure);
    max-width: 1440px;
    margin: auto;
}

header .logo-area {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
}

header .logo-img {
    margin: auto;
}

header .content {
    display: flex;
    justify-content: center;
    padding: 40px 0 65px 0;
}

header .content__text {
    max-width: 550px;
    padding-left: 112px;
    order: 1;
}

header .content__text h1 {
    font-family: var(--font-family-highlight);
    color: var(--neutral-color-high-pure);
    font-size: 4rem;
    margin-bottom: 24px;
    font-style: italic;
}

header .content__text h2 {
    font-family: var(--font-family-base);
    color: var(--neutral-color-high-dark);
    font-weight: var(--font-weight-regular);
    font-size: 1.5rem;
    margin-bottom: 48px;
}

header .content__text a {
    font-family: var(--font-family-base);
    color: var(--brand-color-primary-pure);
    background-color: var(--neutral-color-high-pure);
    font-weight: var(--font-weight-medium);
    font-size: 20px;
    text-decoration: none;
    padding: 16px 24px;
    border-radius: 160px;
    text-transform: uppercase;
    border: 1.5px solid var(--brand-color-primary-pure);
}

header .content__text a:hover {
    border: 1.5px solid var(--neutral-color-high-pure);
}

header .content__img-area {
    overflow-x: hidden;
    padding-right: 200px;
    order: 2;
    margin: auto;
}

header .content__img-area img {
    height: 600px;
}

@media screen and (max-width: 1000px) {
    header .content__text h1 {
        font-size: 3rem;
        margin-bottom: 10px;
    }

    header .content__text h2 {
        font-size: 1.25rem;
    }

    header .content__img-area {
        padding-right: 400px;
    }

    header .content__img-area img {
        margin: auto;
    }

    header .content__text a {
        font-size: 15px;
    }
}

@media screen and (max-width: 900px) {
    header .logo-img {
        height: 82px;
        width: 82px;
    }

    header .content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 40px 0 65px 0;
    }

    header .content__text {
        order: 2;
        max-width: 375px;
        padding: 0;
        text-align: center;
    }

    header .content__text h1 {
        font-size: 3.5rem;
        margin-bottom: 16px;
    }

    header .content__text h2 {
        font-size: 1.75rem;
    }

    header .content__text a {
        font-size: 25px;
    }

    header .content__img-area {
        order: 1;
        padding: 0;
        margin: auto;
        padding-bottom: 40px;
        overflow-x: hidden;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header .content__img-area img {
        height: 500px;
    }
}

@media screen and (max-width: 500px) {
    header .content__text h1 {
        font-size: 3rem;
    }

    header .content__text h2 {
        font-size: 1.25rem;
    }

    header .content__text a {
        font-size: 20px;
        margin-bottom: 55px;
    }
}

@media screen and (max-width: 450px) {
    header .content__text h1 {
        font-size: 2rem;
    }

    header .content__text h2 {
        font-size: 1rem;
        max-width: 250px;
        margin: auto;
        margin-bottom: 40px;
    }

    header .content__text a {
        font-size: 16px;
        margin-bottom: 55px;
    }

    header .content__img-area img {
        height: 400px;
    }
}
